{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auction_detail.css' %}">
{% endblock %}

{% block content %}
<div class="auction-container">

<h2>{{ auction.title }}</h2>

<p>{{ auction.description }}</p>
<p>Start Price: ₹{{ auction.start_price }}</p>

{% if auction.auctionimage_set.first %}
<img src="{{ auction.auctionimage_set.first.image.url }}" alt="{{ auction.title }}">
{% endif %}

{% if not auction.is_active %}
<h4 style="color:green;">
Auction Closed – Winner: {{ auction.winner }}
</h4>
{% endif %}

<hr>

<h4>Bids</h4>
<div class="bids-list">
{% for bid in bids %}
<p>{{ bid.bidder }} : ₹{{ bid.amount }}</p>
{% empty %}
<p>No bids yet</p>
{% endfor %}
</div>

{% if user.is_authenticated and bids %}
    {% if bids.first.bidder != user %}
        <p class="outbid-message">⚠ Someone outbid you! Place a higher bid.</p>
    {% endif %}
{% endif %}

<hr>

{% if user.is_authenticated and auction.is_active %}
<form method="post" class="bid-form">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Place Bid</button>
</form>

{% if error %}
<p class="error-message">{{ error }}</p>
{% endif %}

{% else %}
<p>Please login to bid.</p>
{% endif %}

</div>
{% endblock %}
