{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_auction.css' %}">
{% endblock %}

{% block content %}
<div class="create-auction-container">
    <div class="auction-card">
        <h2>Create Auction</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            {{ image_form.as_p }}

            <button type="submit">Create Auction</button>
        </form>
    </div>
</div>
{% endblock %}
